{{define "main"}}
<div class="background_color">
  <div class="containerpage">
    <div class="top_resouce_posts">
       <div><a href="/resources" class="linkresources">Resources</a> &gt; <a href="#" class="linkresources white">{{.Title}}</a></div>

    </div>
  </div>
</div>
<div class="sections resourcespost">
  <div class="containerpage">
    <div class="resource_content_head">
      <h1 class="h1 resources">{{.Title}}</h1>
      <p class="contentsummary_resource">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
      <div class="resource_content"></div>
    </div>
    <div><img src="/images/slide-1.jpg" srcset="/images/slide-1-p-800.jpeg 800w, /images/slide-1-p-1080.jpeg 1080w, /images/slide-1.jpg 1280w" sizes="(max-width: 767px) 91vw, 95vw" alt=""></div>
    <div class="resource_content contentsummary_resource">
      <div style="color:red;">{{.Content}}</div>
    </div>
  </div>
</div>
{{end}}
