{{define "main"}}
<div class="background_color">
  <div class="containerpage">
    <div class="top_resouce_posts">
       <div><a href="/resources" class="linkresources">Resources</a> &gt; <a href="#" class="linkresources white">{{.Title}}</a></div>

    </div>
  </div>
</div>
<div class="sections resourcespost">
  <div class="containerpage">
    <div class="resource_content_head">
      <h1 class="h1 resources">{{.Title}}</h1>
      <p class="contentsummary_resource">{{.Params.Postsummary}}</p>
      <div class="resource_content"></div>
    </div>
    <div style=" text-align:center; "><img  src="/images/{{.Params.images}}.jpg"  alt=""></div>
    <div class="resource_content contentsummary_resource">
      <div>{{.Content}}</div>
    </div>
  </div>
</div>
{{end}}
