.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #5bc6cf;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  color: #141e3b;
  font-size: 1.06em;
  line-height: 1.65em;
}

ul {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 40px;
}

li {
  font-size: 1.06em;
  line-height: 1.65em;
}



.body {
  background-color: #fff;
  font-family: 'Titillium Web', sans-serif;
  color: #141e3b;
  font-size: 100%;
  line-height: 100%;
  font-weight: 400;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  max-height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(10, 18, 43, 0.88);
}

.header.subpages {
  height: 30vh;
  background-color: rgba(20, 30, 59, 0.85);
}

.header.subpages.contact {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.slider {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  height: 100%;
}

.slide {
  background-image: url('../images/slide-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide._2 {
  background-image: url('../images/slide-3.jpg');
}

.circle {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12%;
  background-color: #141e3b;
}

.circle.service {
  width: 150px;
  height: 150px;
}

.smallcircle {
  position: absolute;
  top: -5%;
  right: -7px;
  bottom: auto;
  width: 30%;
  height: 30%;
  border-radius: 20%;
  background-color: #5bc6cf;
}

.h2 {
  margin-bottom: 25px;
  color: #21a6b1;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

.h2.white {
  color: #5bc6cf;
}

.h2.realwhite {
  color: #e6edee;
}

.footer_grid {
  margin-right: auto;
  margin-left: auto;
  grid-column-gap: 63px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-size: 1em;
  line-height: 1.4em;
}

.heading_footer {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #141e3b;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

.grid-2 {
  grid-column-gap: 16px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footerlinks {
  display: block;
  margin-bottom: 10px;
  color: #141e3b;
  text-decoration: none;
  text-transform: uppercase;
}

.footer_heads {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  margin-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.socialcircle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 6px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #15737b;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.phonefooter {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #141e3b;
  text-decoration: none;
}

.slide-nav {
  display: none;
}

.right-arrow {
  display: none;
}

.containerpage {
  width: 95%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.containerpage.nav {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: minmax(10%, 80px) 1fr;
  grid-template-columns: minmax(10%, 80px) 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-sections {
  grid-column-gap: 45px;
  grid-row-gap: 94px;
  grid-template-areas: ".";
  -ms-grid-columns: minmax(auto, 90px) 45px 1fr;
  grid-template-columns: minmax(auto, 90px) 1fr;
}

.grid-sections._2 {
  -ms-grid-columns: 1fr minmax(auto, 90px);
  grid-template-columns: 1fr minmax(auto, 90px);
}

.grid-sections._2.resourcespage {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.content-grid {
  grid-column-gap: 26px;
  grid-row-gap: 63px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.content-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 50px 1fr;
  grid-template-columns: 50px 1fr;
  -ms-grid-rows: auto auto 1fr;
  grid-template-rows: auto auto 1fr;
  border-bottom: 3px solid #5bc6cf;
  background-color: #f1f1f1;
  color: #141e3b;
  text-decoration: none;
}

.content-items._2 {
  border-bottom-style: none;
  background-color: transparent;
}

.content-items.team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-bottom-style: none;
  background-color: transparent;
}

.h3 {
  margin-top: 13px;
  margin-bottom: 13px;
  color: #21a6b1;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

.h3.content {
  margin-bottom: 25px;
  color: #21a6b1;
  font-size: 1.3em;
}

.h3.content.white {
  color: #fff;
}

.topic_headings {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: rgba(91, 198, 207, 0.61);
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: 30%;
}

.topic_headings._2 {
  color: rgba(251, 252, 255, 0.72);
}

.topic_grid {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #141e3b;
  color: #367585;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.topic_grid.white {
  background-color: rgba(91, 198, 207, 0.9);
}

.names_grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "service-heading";
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.sections {
  padding-top: 9%;
  padding-bottom: 9%;
}

.sections.resourcespost {
  padding-top: 4%;
  padding-bottom: 4%;
}

.client_head {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: minmax(auto, 400px) 1fr;
  grid-template-columns: minmax(auto, 400px) 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.clients_items {
  background-color: #198c90;
}

.green_left_light {
  padding: 13px 34px;
  background-color: #2f9da1;
  color: #fdfdfd;
}

.clients_outline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.client_item {
  width: 15%;
  padding: 5px;
}

.resources_images {
  width: 100%;
  height: 150px;

  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  width: 100%;
  height: 74px;
  margin-top: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  box-shadow: 0 2px 9px -4px #bebebe;
}

.navlinkwrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.linkblock {
  margin-right: 11px;
  margin-left: 11px;
  color: #141e3b;
  text-decoration: none;
  text-transform: uppercase;
}

.linkblock.phone {
  color: #379ba3;
}

.nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header-grid {
  display: -ms-grid;
  display: grid;
  max-width: 800px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 80px 1fr 1fr;
  grid-template-columns: 80px 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  color: #e5e8f0;
}

.header-grid.pages {
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 3%;
  color: #5bc6cf;
  font-size: 2.05em;
  line-height: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

.h1._2 {
  color: #efefef;
}

.h1.resources {
  color: #141e3b;
}

.button {
  border-radius: 4px;
  background-color: #5bc6cf;
  color: #141e3b;
  text-transform: uppercase;
}

.button.tophead {
  margin-top: 5%;
  margin-right: 12px;
  padding: 2.5% 4%;
  border-radius: 3px;
  -webkit-transition: color 200ms ease, border-color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, border-color 200ms ease, background-color 200ms ease;
}

.button.tophead:hover {
  background-color: #4dacb4;
  color: #efefef;
}

.button.tophead._2 {
  border: 1px solid #5bc6cf;
  background-color: transparent;
  color: #5bc6cf;
}

.button.tophead._2:hover {
  background-color: #4dacb4;
  color: #efefef;
}

.button.signup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
}

.header_content_wrap {
  padding: 30px 19px;
  background-color: rgba(20, 30, 59, 0.8);
}

.header_content_wrap.pages {
  background-color: rgba(91, 198, 207, 0.84);
}

.sub_text {
  color: #efefef;
  font-size: 1.3em;
}

.sub_text._2 {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
  color: #141e3b;
}

.newsletterwrap {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #141e3b;
}

.lines {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: -10%;
  width: 30px;
  height: 5px;
  margin-top: 5px;
  background-color: #5bc6cf;
}

.section_heading {
  position: relative;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field {
  height: 45px;
  margin-right: 2%;
  margin-bottom: 0px;
  padding-right: 19px;
  padding-left: 19px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 70%;
  -ms-flex: 0 70%;
  flex: 0 70%;
  border: 1px solid #222f53;
  border-radius: 6px;
  background-color: #222f53;
  color: #efefef;
}

.footer {
  padding-top: 5%;
  background-color: #198c90;
  color: #141e3b;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #15797d;
  color: #dedfe4;
}

.gabadigitallink {
  color: #5bc6cf;
}

.page_wrapper {
  margin-top: 86px;
}

.loading {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 20;
  width: 100%;
  height: 12px;
  background-color: #fff;
}

.loader {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 0%;
  height: 12px;
  background-color: #5bc6cf;
}

.content_grid_write {
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.content_seperation {
  margin-bottom: 60px;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.19);
}

.div-block-27._2 {
  padding: 3vw;
}

.text-block {
  font-size: 4em;
  line-height: 1em;
}

.p_end {
  color: #141e3b;
  line-height: 1.6em;
}

.name {
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
  color: #fff;
  text-transform: uppercase;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 6px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #141e3b;
}

.flex_social_team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.green {
  color: #3db0b9;
}

.our_team_content {
  margin-top: 8px;
  margin-bottom: 8px;
}

.image {
  width: 100%;
}

.services_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services_items._2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.services_content {
  margin-right: 3%;
  margin-left: 3%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 70%;
  -ms-flex: 0 70%;
  flex: 0 70%;
}

.grid-3 {
  grid-column-gap: 70px;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.contact_items {
  display: -ms-grid;
  display: grid;
  margin-bottom: 31px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 11px;
  grid-row-gap: 6px;
  -ms-grid-columns: 35px 2fr;
  grid-template-columns: 35px 2fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #5bc6cf;
}

.h2_contact {
  margin-top: 0px;
  margin-bottom: 6%;
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.contact_info {
  padding: 5%;
  background-color: #e5f2f3;
}

.getintouchdiv {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-transform: none;
}

.text-field-2 {
  height: 50px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #c9e5e7;
  border-radius: 3px;
  background-color: #e6f5f6;
}

.html-embed {
  height: 100%;
}

.close_wrap {
  display: none;
}

.hamburger {
  display: none;
}

.image-2 {
  width: 100%;
}

.resource_content {
  width: 70%;
  max-width: 800px;
  margin: 3% auto;
  color: #0f1114;
}

.resource_content.contentsummary_resource {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7%;
  margin-bottom: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.resource_content_head {
  display: block;
  width: 80%;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 5%;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.background_color {
  background-color: #198c90;
}

.linkresources {
  margin-right: 14px;
  margin-left: 14px;
  color: #5bc6cf;
  text-decoration: none;
}

.linkresources.white {
  color: #fff;
}

.top_resouce_posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.6vw;
  padding-bottom: 1.6vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #5bc6cf;
  font-size: 1.2em;
  line-height: 1em;
}

.contentsummary_resource {
  margin-bottom: 0px;
  color: #0f1114;
  font-size: 1.15em;
  line-height: 1.6em;
}

.fas-fa-cloud {
  color: #eaebee;
  font-size: 80px;
}

.fas.fa-cloud {
  color: #0a0a0a;
}

.fa.fa-facebook {
  color: #d8dbe4;
}

.top_texts {
  color: #141e3b;
  font-size: 1.25em;
  line-height: 1.4em;
}

.top_texts._2 {
  color: #d8e1e2;
}

.p_index {
  color: #95979e;
}

@media (max-width: 991px) {
  p {
    font-size: 1.1em;
    line-height: 1.5em;
  }
  li {
    line-height: 1.5em;
  }
  .grid-sections {
    grid-row-gap: 94px;
  }
  .content-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .content-items {
    padding: 2vw;
  }
  .h3 {
    font-size: 1.2em;
  }
  .names_grid {
    grid-template-areas: "service-heading service-heading";
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header-grid {
    -ms-grid-columns: 80px 1fr;
    grid-template-columns: 80px 1fr;
  }
  .grid-3 {
    grid-column-gap: 3vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .getintouchdiv {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  p {
    font-size: 1.1em;
    line-height: 1.6em;
  }
  .header {
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgba(10, 18, 43, 0.83);
  }
  .header.subpages.contact {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .slider {
    display: block;
  }
  .h2 {
    font-size: 1.4em;
  }
  .footer_grid {
    width: 100%;
    grid-column-gap: 28px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .containerpage {
    padding-right: 2%;
    padding-left: 2%;
  }
  .containerpage.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .grid-sections {
    grid-column-gap: 2vw;
    grid-row-gap: 5vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .content-items {
    padding: 3vw;
  }
  .topic_grid {
    display: none;
  }
  .names_grid {
    grid-template-areas: "service-heading service-heading service-heading";
  }
  .sections {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .sections.resourcespost {
    padding-top: 6%;
    padding-bottom: 6%;
  }
  .client_head {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .clients_items {
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .green_left_light {
    padding: 3vw;
  }
  .client_item {
    width: 40%;
  }
  .navigation {
    z-index: 20;
    height: auto;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navlinkwrap {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 20;
    display: none;
    height: 100vh;
    padding-top: 10vw;
    padding-right: 15%;
    padding-left: 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #141e3b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 22, 45, 0.93)), to(rgba(15, 22, 45, 0.93))), url('../images/main_logo.svg');
    background-image: linear-gradient(180deg, rgba(15, 22, 45, 0.93), rgba(15, 22, 45, 0.93)), url('../images/main_logo.svg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, contain;
    background-repeat: repeat, no-repeat;
  }
  .linkblock {
    margin-top: 22%;
    margin-bottom: 22%;
    color: #fcfcfc;
  }
  .linkblock.phone {
    margin-right: 0px;
    margin-left: 0px;
    padding: 17px;
    background-color: #5bc6cf;
    color: #0a122b;
  }
  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .h1 {
    font-size: 1.8em;
  }
  .button.tophead {
    margin-top: 10%;
  }
  .button.signup {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .header_content_wrap {
    padding-right: 0%;
    padding-left: 0%;
    background-color: transparent;
  }
  .header_content_wrap.pages {
    background-color: transparent;
  }
  .page_wrapper {
    margin-top: 66px;
  }
  .services_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .grid-3 {
    grid-row-gap: 16vw;
  }
  .close_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 20%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #ce3e21;
    font-size: 2.5em;
    line-height: 1em;
  }
  .hamburger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 35px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hamburgerlines {
    width: 100%;
    height: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #141e3b;
  }
  .hamburgerlines.half {
    width: 50%;
    background-color: #339fa8;
  }
  .resource_content.contentsummary_resource {
    width: auto;
  }
  .resource_content_head {
    width: auto;
  }
}

@media (max-width: 479px) {
  .footer_grid {
    padding-right: 5%;
    padding-left: 5%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .grid-2 {
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .content-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .content-items {
    padding: 4vw;
  }
  .names_grid {
    grid-template-areas: "service-heading service-heading service-heading";
  }
  .button.signup {
    width: 100px;
    height: auto;
  }
  .div-block-24 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .text-field {
    margin-right: 0%;
    margin-bottom: 2%;
  }
  .top_resouce_posts {
    line-height: 1.5em;
  }
}

#w-node-f530772d0d4a-86ee307a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
}

@media screen and (max-width: 767px) {
  #w-node-f530772d0d4a-86ee307a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
  }
}

#w-node-e4fe2a922121-86ee307a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
}

#w-node-fa20ea4255f0-86ee307a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-fa20ea4255f0-86ee307a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-5b12c031f4bb-86ee307a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-d5906189b778-86ee307a {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-aa9bdcaea15a-86ee307a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-aa9bdcaea15c-86ee307a {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-ec3450c5e321-86ee307a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-d7c85580feea-86ee307a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-d7c85580feec-86ee307a {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-782aecc7f1d6-86ee307a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-6bce7873bc2e-86ee307a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-513ad7323d77-86ee307a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: service-heading;
}

#w-node-459af262a779-86ee307a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-459af262a779-86ee307a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-459af262a77b-86ee307a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-459af262a77c-86ee307a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-459af262a77e-86ee307a {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-459af262a781-86ee307a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-459af262a782-86ee307a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-459af262a784-86ee307a {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-459af262a787-86ee307a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-459af262a788-86ee307a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-459af262a78a-86ee307a {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-459af262a78c-86ee307a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-459af262a78f-86ee307a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 991px) {
  #w-node-459af262a790-86ee307a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-459af262a790-86ee307a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
}

#w-node-f89534541305-86ee307a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: service-heading;
}

#w-node-f530772d0d4a-6f25d84c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-f530772d0d4a-6f25d84c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
  }
}

#w-node-e4fe2a922121-6f25d84c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-6fe8114b7cb7-6f25d84c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-c6b85f6f1136-6f25d84c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-c6b85f6f1136-6f25d84c {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

#w-node-c210effdc20b-6f25d84c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-c210effdc20b-6f25d84c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-913aa4c40ffc-6f25d84c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-913aa4c40ffc-6f25d84c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-633aa589f468-6f25d84c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-633aa589f469-6f25d84c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-8c2b9e542e31-6f25d84c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-8c2b9e542e32-6f25d84c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-ce123110d438-6f25d84c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ce123110d439-6f25d84c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-0f2a5b8d83c5-6f25d84c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-0f2a5b8d83c6-6f25d84c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-d29c7a7f987f-6f25d84c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d29c7a7f9880-6f25d84c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-335998be4e9f-6f25d84c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-335998be4ea0-6f25d84c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-913aa4c41025-6f25d84c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-913aa4c41028-6f25d84c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-913aa4c41029-6f25d84c {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: service-heading;
}

#w-node-f89534541305-6f25d84c {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: service-heading;
}

#w-node-f530772d0d4a-129fb655 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-f530772d0d4a-129fb655 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
  }
}

#w-node-e4fe2a922121-129fb655 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-fd9e2ec857df-129fb655 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-fd9e2ec857df-129fb655 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-fd9e2ec857e1-129fb655 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-fd9e2ec857e2-129fb655 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-fd9e2ec857e4-129fb655 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-fd9e2ec857e7-129fb655 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-fd9e2ec857e8-129fb655 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-fd9e2ec857ea-129fb655 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-fd9e2ec857ed-129fb655 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-fd9e2ec857ee-129fb655 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-fd9e2ec857f0-129fb655 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-f89534541305-129fb655 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: service-heading;
}

#w-node-f530772d0d4a-d79fbe7a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-f530772d0d4a-d79fbe7a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
  }
}

#w-node-e4fe2a922121-d79fbe7a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-f89534541305-d79fbe7a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: service-heading;
}

#w-node-3ec8c89d42b1-31a03b9b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b0a1bf0d4d69-31a03b9b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-60d1cee50088-31a03b9b {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-9d306f5b04ca-31a03b9b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-9d306f5b04cc-31a03b9b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-9d306f5b04cf-31a03b9b {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-6c84ea982cfe-31a03b9b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-6c84ea982d00-31a03b9b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-6c84ea982d03-31a03b9b {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-77c5d201dde1-31a03b9b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-77c5d201dde1-31a03b9b {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

#w-node-cdf4a268335a-31a03b9b {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-cdf4a268335a-31a03b9b {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }
}

#w-node-648f20b39fa6-31a03b9b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#Name.w-node-30c949a55ddd-31a03b9b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #Name.w-node-30c949a55ddd-31a03b9b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

#Email.w-node-d676f9024614-31a03b9b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #Email.w-node-d676f9024614-31a03b9b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

#Phone-Number.w-node-894f0b6407b8-31a03b9b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #Phone-Number.w-node-894f0b6407b8-31a03b9b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

#Subject.w-node-a80e15576b23-31a03b9b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #Subject.w-node-a80e15576b23-31a03b9b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

#field.w-node-76d65d2b9fe6-31a03b9b {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-f89534541305-31a03b9b {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: service-heading;
}

#w-node-f89534541305-e75ba8ca {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: service-heading;
}

@media (max-width: 991px) {
  #w-node-513ad7323d77-86ee307a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  #w-node-f89534541305-86ee307a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  #w-node-913aa4c41029-6f25d84c {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  #w-node-f89534541305-6f25d84c {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  #w-node-f89534541305-129fb655 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  #w-node-f89534541305-d79fbe7a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  #w-node-f89534541305-31a03b9b {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  #w-node-f89534541305-e75ba8ca {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

@media (max-width: 767px) {
  #w-node-513ad7323d77-86ee307a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-f89534541305-86ee307a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-913aa4c41029-6f25d84c {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-f89534541305-6f25d84c {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-f89534541305-129fb655 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-f89534541305-d79fbe7a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-f89534541305-31a03b9b {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-f89534541305-e75ba8ca {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

@media (max-width: 479px) {
  #w-node-513ad7323d77-86ee307a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-f89534541305-86ee307a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-913aa4c41029-6f25d84c {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-f89534541305-6f25d84c {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-f89534541305-129fb655 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-f89534541305-d79fbe7a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-f89534541305-31a03b9b {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-f89534541305-e75ba8ca {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
