{{define "main" }}
<div class="header subpages contact">
      <div class="html-embed w-embed w-iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3939.797055451777!2d7.4656170154456545!3d9.082244493483923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0aef09b35be9%3A0x8b381ac77a50d66e!2sPointek!5e0!3m2!1sen!2sus!4v1563156541168!5m2!1sen!2sus" width="100%
" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe></div>
    </div>
<div class="sections">
  <div class="containerpage">
    <div class="w-layout-grid grid-3">
      <div class="contact_info">
        <h2 class="h2_contact">More Info.</h2>
        <div class="contact_items">
          <h1 id="w-node-3ec8c89d42b1-31a03b9b" class="h3">email</h1>
          <div id="w-node-b0a1bf0d4d69-31a03b9b"><a href="mailto:kates.house.shorewood2016@gmail.com" target="_top">kates.house.shorewood2016@gmail.com</a></div>
          <div id="w-node-60d1cee50088-31a03b9b" class="div-block-29"><img src="images/fa.svg" alt=""></div>
        </div>
        <div class="contact_items">
          <h1 id="w-node-9d306f5b04ca-31a03b9b" class="h3">phone number</h1>
          <div id="w-node-9d306f5b04cc-31a03b9b"><a href="mailto:kates.house.shorewood2016@gmail.com" target="_top">kates.house.shorewood2016@gmail.com</a></div>
          <div id="w-node-9d306f5b04cf-31a03b9b" class="div-block-29"><img src="images/fa.svg" alt=""></div>
        </div>
        <div class="contact_items">
          <h1 id="w-node-6c84ea982cfe-31a03b9b" class="h3">address</h1>
          <div id="w-node-6c84ea982d00-31a03b9b"><a href="mailto:kates.house.shorewood2016@gmail.com" target="_top">kates.house.shorewood2016@gmail.com</a></div>
          <div id="w-node-6c84ea982d03-31a03b9b" class="div-block-29"><img src="images/fa.svg" alt=""></div>
        </div>
      </div>
      <div id="w-node-77c5d201dde1-31a03b9b" class="contact_info">
        <h2 class="h2_contact">Social</h2>
        <div class="flex_social_team">
          <div class="social-icon"></div>
          <div class="social-icon"></div>
          <div class="social-icon"></div>
        </div>
      </div>
      <div id="w-node-cdf4a268335a-31a03b9b" class="getintouchdiv">
        <h2 id="w-node-648f20b39fa6-31a03b9b" class="h2_contact">get in touch</h2><input type="text" class="text-field-2 w-node-30c949a55ddd-31a03b9b w-input" maxlength="256" name="Name" data-name="Name" placeholder="Name" id="Name" required=""><input type="email" class="text-field-2 w-node-d676f9024614-31a03b9b w-input" maxlength="256" name="Email" data-name="Email" placeholder="Kindly type in your email" id="Email" required=""><input type="email" class="text-field-2 w-node-894f0b6407b8-31a03b9b w-input" maxlength="256" name="Phone-Number" data-name="Phone Number" placeholder="Phone Number" id="Phone-Number" required=""><input type="text" class="text-field-2 w-node-a80e15576b23-31a03b9b w-input" maxlength="256" name="Subject" data-name="Subject" placeholder="Phone Number" id="Subject" required=""><textarea placeholder="Example Text" maxlength="5000" id="field" name="field" data-name="Field" class="text-field-2 w-node-76d65d2b9fe6-31a03b9b w-input"></textarea>
        <div><a href="#" class="button w-button">send message</a></div>
      </div>
    </div>
  </div>
</div>

{{end}}
