<div class="newsletterwrap">
  <div class="containerpage">
    <div class="names_grid">
      <div id="w-node-f89534541305-86ee307a">
        <div class="section_heading">
          <h2 class="h2 white">Newsletter</h2>
          <div class="lines"></div>
        </div>
      <p class="top_texts _2">Even if you require more than professional web design, our team in en if you require more than professional</p>
      </div>
    </div>
    <div class="div-block-24"><input type="email" class="text-field w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="Type in your email address" id="Email-Address" required=""><a href="#" class="button signup w-button">sign up </a></div>
  </div>
</div>
<div class="footer">
  <div class="containerpage">
    <div class="w-layout-grid footer_grid">
      <div>
        <a href="/" class="footer_heads"><img src="images/logo.svg" alt=""></a>
        <div>Plot 375 Olukoye R kuti, katampe extension, Abuja</div>
      </div>
      <div>
        <div class="footer_heads">
          <h3 class="heading_footer">Quick navigation</h3>
        </div>
        <div class="w-layout-grid grid-2">
          <div>
            <a href="/about" class="footerlinks w-inline-block">
              <div>about us</div>
            </a>
            <a href="/services" class="footerlinks w-inline-block">
              <div>services</div>
            </a>
            <a href="/contact" class="footerlinks w-inline-block">
              <div>contact</div>
            </a>
          </div>
          <div>
            <a href="/resources" class="footerlinks w-inline-block">
              <div>resources</div>
            </a>
          </div>
        </div>
      </div>
      <div>
        <div class="footer_heads">
          <h3 class="heading_footer">location</h3>
        </div>
        <div>Plot 375 Olukoye R kuti, katampe extension, Abuja</div>
      </div>
      <div>
        <div class="footer_heads">
          <h3 class="heading_footer">get in touch</h3>
        </div>
        <div class="div-block-2"><a href="#" class="socialcircle w-inline-block"><i class="fab fa-facebook-f white"></i></a><a href="#" class="socialcircle w-inline-block"><i class="fab fa-instagram white"></i></a>
          <a href="#" class="socialcircle w-inline-block"><i class="fab fa-linkedin-in white"></i></a></div>
        <a href="tel:+2348094604327" class="phonefooter w-inline-block">
          <div>(234) 809-460-4327</div>
        </a>
      </div>
    </div>
  </div>
  <div class="div-block-25">
    <div>© JCW 2019 | Built by <a href="http://www.gabadigital.com" target="_blank" class="gabadigitallink">Gabadigital</a></div>
  </div>
</div>
