<div data-w-id="fe6261c7-c789-b5cf-237a-459af262a776" class="sections">
      <div class="containerpage">
        <div class="w-layout-grid grid-sections">
          <div id="w-node-913aa4c40ffc-6f25d84c" class="w-layout-grid content-grid">
            {{range where .Site.RegularPages "Type" "ourteam"}}

            <div id="w-node-335998be4e9f-6f25d84c" href="#" class="content-items team w-inline-block">
              <div id="w-node-335998be4ea0-6f25d84c"><img src="../images/{{.Params.images}}" alt=""></div>
              <div class="our_team_content">
                <h3 class="h3">{{.Title}}</h3>
                <div class="green">{{.Content}}</div>
              </div>
              <div class="flex_social_team">
                {{with .Params.linkedin }}<a href="https://www.facebook.com/{{.}}"class="social-icon"></a>{{end}}
                {{with .Params.facebook }}<a href="https://www.twitter.com/{{.}}"class="social-icon"></a>{{end}}
                {{with .Params.twitter }}<a href="https://www.linkedin.com/{{.}}"class="social-icon"></a>{{end}}
              </div>

            </div>

            {{end}}
          </div>

          {{ range where .Site.RegularPages "Type" "sections" }}

          {{ $sectionTitle := .Params.name}}
          {{if eq $sectionTitle "team" }}

          <div id="w-node-913aa4c41025-6f25d84c" class="topic_grid">
            <h2 class="topic_headings">{{.Title}}</h2>
          </div>
          <div id="w-node-913aa4c41028-6f25d84c" class="names_grid">

            <div id="w-node-913aa4c41029-6f25d84c">
              <div class="section_heading">
                <h2 class="h2">{{.Title}}</h2>
                <div class="lines"></div>
              </div>
              <p>{{.Content}}</p>
            </div>
          </div>

          {{end}}

          {{end}}

        </div>
      </div>
  </div>
