<div data-w-id="75ed6676-e6d4-a56a-d5c4-f36ff3aa25c3" class="sections">
  <div class="containerpage">
    <div style="opacity:0.1;-webkit-transform:translate3d(0, -100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-grid grid-sections">
      <div id="w-node-fa20ea4255f0-86ee307a" class="w-layout-grid content-grid">
        {{range where .Site.RegularPages "Type" "services" }}
          <a data-w-id="cf6a9496-0bc8-7a91-02f5-e783339b72cb" href="/services/#{{.Params.name}}" style="border-bottom: 3px solid #{{ .Params.color }}; " class="content-items">
            <div class="circle">
              <div class="smallcircle" style="background-color:#{{.Params.color}};"></div><img src="/images/{{ .Params.images}}.svg" alt=""></div>
                <h3 id="w-node-5b12c031f4bb-86ee307a" class="h3">{{.Title}}</h3>
                <p id="w-node-d5906189b778-86ee307a">{{truncate 80 .Content}}</p>
          </a>
        {{end}}
      </div>

      {{range where .Site.RegularPages "Type" "sections"}}

      {{ $sectionTitle := .Title}}
      {{if eq $sectionTitle "Services" }}
      <div id="w-node-782aecc7f1d6-86ee307a" class="topic_grid">
        <h2 class="topic_headings">{{.Title}}</h2>
      </div>
      <div id="w-node-6bce7873bc2e-86ee307a" class="names_grid">
        <div id="w-node-513ad7323d77-86ee307a">
          <div class="section_heading">
            <h2 class="h2">{{.Title}}</h2>
            <div class="lines"></div>
          </div>
          <p>{{.Content}}</p>
        </div>
      </div>
      {{end}}
      {{end}}
    </div>
  </div>
</div>
