{{ define "main" }}
{{ partial "header" . }}
{{partial "sectionscontent_services" .}}

<div class="clients_items">
  <div class="containerpage">
    <div class="w-layout-grid client_head">
      <div class="green_left_light">
        <h3 class="h2">SOME OF OUR <br>ESTEEMED CLIENTS</h3>
      </div>
      <div class="clients_outline">
        <div class="client_item"><img src="../images/ministry-of-power.jpg" alt=""></div>
      </div>
    </div>
  </div>
</div>
{{partial "sectionscontent_resources" .}}
{{ end }}
